*{
    font-family: 'Pinyon Script', cursive;
    color: rgb(0, 252, 4);
}


.X{
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}


.links{
    align-items: center;
    font-size: medium;
    padding-bottom: 25px;
}

.name{
    margin-left: 10px;
    position: relative;
}

.container{
    width: 100%;
    background-color: black;
    /* border: 2px solid rgb(0, 252, 4) ; */
    position: absolute; top: 0; left: 0;
    z-index: 99 !important;
    }

.linksH:hover{
    background-color: rgb(255, 0, 255);
    border-radius: 99px;
    
}

.menuIcon{
    position: absolute; 
    top: 25px; 
    right: 20px; 
    font-size: 2rem;
    cursor: pointer;

}

.nav-menu {
    background-color: black;
    width: 150px;
    height: 100%;
    top: 0;
    display: flex;
    position: fixed;  
    left: -100%;
    transition: 850ms;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .nav-menu-items{
    list-style: none; 
    text-decoration: none;
  }
